# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Node
node_modules/
.next/
dist/
build/
.env.local

# Env files
.env
*.env

# OS
.DS_Store
Thumbs.db

# Uploads / temp
backend/uploads/
*.pdf

codebase.py
project_dump.txt